:root {
    --light-green: rgb(148, 200, 128);
    --dark-cyan: rgb(47, 79, 105);
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: "CJ Bree", serif;
    background-color: whitesmoke;
}

form,
input,
button,
label {
    font-family: "CJ Bree", serif;
}

.nav-bar {
    position: sticky;
    border: none;
    border-radius: 15px;
    background: var(--light-green);
}

.nav-bar button {
    border: none;
    border-radius: 15px;
    background: var(--light-green);
    font-family: "CJ Bree", serif;
    color: darkgreen;
}

.nav-bar button:hover {
    cursor: pointer;
    background: darkgreen;
    color: var(--light-green);
}

#signup-login-forms {
    display: none;
}

#account-info {
    display: block;
}

.email-input,
.password-input {
    display: flex;
}

.email-input input,
.password-input input {
    border: none;
    border-radius: 15px;
}

.submit-btn {
    border: none;
    border-radius: 15px;
    background: var(--light-green);
    width: 100%;
}

.submit-btn:hover {
    cursor: pointer;
    background: darkgreen;
    color: var(--light-green);
}

.user-pfp,
.user-display-name {
    display: flex;
    justify-content: center;
}

.user-pfp img {
    border: 5px solid white;
    border-radius: 50%;
}

.user-display-name input {
    border: none;
    background: none;
    text-align: center;
    width: 100%;
}

.toggles {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        display: flex;
        justify-content: center;
        margin: 5vw 5vw 10vw;
        padding: 2.5vw;
        width: 85%;
        top: 85%;
    }

    .nav-bar button {
        padding: 2.5vw;
    }

    .icon {
        max-width: 1rem;
    }

    #signup,
    #login {
        margin: 5vw;
    }

    #signup h1,
    #login h1 {
        font-size: 2rem;
    }

    .email-input,
    .password-input {
        padding: 1vw 0;
        gap: 1vw;
    }

    .email-input input,
    .password-input input {
        padding: 1vw 3vw;
        width: 100%;
    }

    .submit-btn {
        padding: 2vw;
        margin: 5vw 0;
    }

    .user-pfp img {
        width: 50%;
        margin: 5vw 0;
    }

    .user-display-name input {
        font-size: 3rem;
        margin: 0 5vw;
    }

    .toggles img {
        width: 2rem;
    }

    .friends,
    .pending {
        margin: 0 5vw;
    }
}

@media screen and (min-width: 628px) {
    .nav-bar {
        display: flex;
        justify-content: center;
        margin: 5vw;
        padding: 1.5vw;
        top: 100%;
    }

    .icon {
        max-width: 3rem;
    }

    .user-pfp {
        margin: 5vw 0 0;
    }

    .user-display-name input {
        font-size: 3rem;
        width: 50%;
    }

    .user-pfp img {
        width: 15%;
    }

    .toggles img {
        width: 3rem;
    }

    .friends,
    .pending {
        margin: 0 5vw;
    }
}